*{
    margin: 0;
    padding: 0;
}
.content{
    display: none; /* Versión celular */
}
.my-container{
    display: block;
    margin: auto;
    width: 1140px;
    background-color: #fff;
}

.my-header{
    display: flex;
    justify-content:space-between;
    align-items: end;
    width: 100%;
}
    .my-logo{
        width: 180px;
    }
    .my-horizontal-list{
        display: flex;
        justify-content: end;
    }
    .my-horizontal-list .option{
        text-align: center;
        background-color: #b5b5b5;
        display: inline-block;
        width: 160px;
        padding: 10px;
        margin-left: 5px;
        border-radius: 30px 30px 0px 0px;
        font-size: 1.35rem;
        cursor: pointer;
        color: #000;
    }
        .my-horizontal-list .option:hover{
            background-color: #002C73;
            color: #fff;
        }

.my-blue-stripe{
    width: 100%;
    height: 50px;
    background-color: #002C73;
}

.my-vertical-list .option{
    text-align: center;
    background-color: #b5b5b5;
    display: block;
    width: 170px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    font-size: 1.35rem;
    cursor: pointer;
    color: #000;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
    .my-vertical-list .option:hover{
        background-color: #002C73;
        color: #fff;
    }
.section-info{
    /* background-color: blue; */
    display: flex;
    justify-content:space-between;
}
#startContext{
    /* background-color: aqua; */
    display: block;
    flex: auto;
}
    .info-section{
        padding: 30px;
        text-align: justify;
    }
    .h1-context{
        color: #E10F0F;
        font-weight: bold;
        font-size: x-large;
    }

.images{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    margin: 0px;
}
    .image-size{
        max-width: 900px;
        max-height: 370px;
    }

.my-footer{
    width: 1140px; /* Debe tener el valor de container */
    position: absolute;
    text-align: center;
}
.slogan{
    font-size: 2.8rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #002C73;
}

/* Responsive Web */
@media (max-width: 540px) {
    .my-container{
        display: none;
    }
    .content{
        display: block;
    }
    .header-slogan{
        color: #002C73;
        font-size: 3rem;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #b5b5b5;
    }
    
        .body{
            display: grid;
            place-items: center;
            margin-top: 130px;
            margin-bottom: 130px;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .content-logo{
            width: 90%;
            text-align: center;
        }
        .my-logo{
            width: 90%;
        }
        .carousel-reponsive{
            width: 81%;
            border: 1px solid #002C73;
            margin-top: 25px;
        }
            .slide{
                width: 90%;
                margin-left: 5%;
            }

        .sm-social-media{
            margin-top: 20px;
        }
            .sm-social-media .slogan{
                font-size: 1.7rem;
                text-align: center;
            }

        /* MENÚ */
        .sm-menu .card-link{
            background-color: #fff;
            
        }
        .sm-menu{
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .sm-menu .card-link{
            margin-bottom: 20px;
            width: 130px;
            height: 140px;
            display: inline-block;
        }
        .sm-menu .card-link .container-link img{
            width: 70px;
            margin: 25px;
        }
        .sm-menu .card-link .container-link{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 1px solid #000;
        }
        .sm-menu .card-link .title-link{
            font-size: 1.2rem;
            text-align: center;
        }
        
        .menu{
            margin-top: 20px;
            width: 81%;
        }
    
    .footer-slogan{
        color: #002C73;
        font-size: 3rem;
        text-align: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        border-top: 1px solid #b5b5b5;
    }
    
}