
*{
    margin: 0;
    padding: 0;
}
.content{
    display: none; /* Versión celular */
}
.my-container{
    display: block;
    margin: auto;
    width: 1140px;
    background-color: #fff;
}

.my-header{
    display: flex;
    justify-content:space-between;
    align-items: end;
    width: 100%;
}
    .my-logo{
        width: 180px;
    }
    .my-horizontal-list{
        display: flex;
        justify-content: end;
    }
    .my-horizontal-list .option{
        text-align: center;
        background-color: #b5b5b5;
        display: inline-block;
        width: 160px;
        padding: 10px;
        margin-left: 5px;
        border-radius: 30px 30px 0px 0px;
        font-size: 1.35rem;
        cursor: pointer;
        color: #000;
    }
        .my-horizontal-list .option:hover{
            background-color: #002C73;
            color: #fff;
        }

.my-blue-stripe{
    width: 100%;
    height: 50px;
    background-color: #002C73;
}

.my-vertical-list .option{
    text-align: center;
    background-color: #b5b5b5;
    display: block;
    width: 170px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    font-size: 1.35rem;
    cursor: pointer;
    color: #000;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
    .my-vertical-list .option:hover{
        background-color: #002C73;
        color: #fff;
    }
.section-info{
    /* background-color: blue; */
    display: flex;
    justify-content:space-between;
}
#startContext{
    /* background-color: aqua; */
    display: block;
    flex: auto;
}
    .info-section{
        padding: 30px;
        text-align: justify;
        font-size: large;
    }
    .h1-context{
        color: #E10F0F;
        font-weight: bold;
        font-size: x-large;
    }

.images{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    margin: 0px;
}
    .image-size{
        max-width: 900px;
        max-height: 370px;
    }
    .principal{
        position: relative;
    }

.principal > .footer{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -50px;
}
.slogan{
    font-size: 2.8rem;
    font-family: "Courgette", cursive;
    font-weight: bold;
    color: #002C73;
}
#principiosValores, #misionVision{
    display: none;
}
/* Responsive Web */
@media (max-width: 540px) {
    #principiosValores, #misionVision{
        display: none;
        width: 100%;
        padding: 15px;
    }
    .my-container{
        display: none;
    }
    .content{
        display: block;
        width: 100%;
    }
    .header-slogan, .footer-slogan{
        color: #002C73;
        font-size: 3rem;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #b5b5b5;
    }
    .footer-slogan{
        top: auto;
        bottom: 0;
        border-top: 1px solid #b5b5b5;
    }
        .body{
            display: grid;
            place-items: center;
            margin-top: 130px;
            margin-bottom: 130px;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .content-logo{
            width: 90%;
            text-align: center;
        }
        .my-logo{
            width: 90%;
        }
        .carousel-reponsive{
            display: block;
            width: 90%;
            background-color: #002C73;
            margin-top: 25px;

        }
            .carousel-reponsive .botones{
                position: absolute;
                top:55%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 85%;
                z-index: 100;
            }
            .carousel-reponsive .item.prev {
                z-index: 2;
                opacity: 0.25;
                transform: translate(-125%, -50%);
            }
              
            .carousel-reponsive .item.next {
                z-index: 2;
                opacity: 0.25;
                transform: translate(25%, -50%);
            }
            .botones .boton{
                color: #fff;
                font-size: 42px;
                cursor: pointer;
                position: relative;
                opacity: 0.75;
                transition: all 300ms ease-in-out;
            }
            .botones .boton:hover{
                opacity: 1;
            }
            .botones .boton:before{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                background-color: rgba(0, 0, 0, 1);
                border-radius: 50%;
                z-index: -99;
            }
            .botones .boton:nth-child(1) {
                float: left;
            }
                
            .botones .boton:nth-child(2) {
                float: right;
            }
            .slide{
                width: 100%;
            }
            

        .sm-social-media{
            margin-top: 20px;
        }
            .sm-social-media .slogan{
                font-size: 1.7rem;
                text-align: center;
            }
            .sm-social-media-list{
                display: flex;
                justify-content:space-around;
            }
            .carousel-reponsive .item{
                overflow: hidden;
                transition: all 300ms ease-in-out;
                z-index: -1;
                opacity: 0;
            }
            .carousel-reponsive .item.active {
                opacity: 1;
                z-index: 99;
                box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
            }

        /* MENÚ */
        .sm-menu{
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            margin-top: 20px;
            text-align: center;
            justify-content:space-around;
        }
        .sm-menu .card-link{
            text-align: center;
            align-items: center;
            /* background-color: aqua; */
            margin-left: 10px;
            margin-bottom: 20px;
            width: 150px;
        }
        .sm-menu .card-link .container-link{
            width: 100%;
            height: 150px;
            border-radius: 50%;
            border: 1px solid #000;
        }
            .sm-menu .card-link .container-link img{
                width: 75px;
                margin: 30px;
            }
        .sm-menu .card-link .title-link{
            font-size: 1.6rem;
            text-align: center;
        }
        
        .menu{
            margin-top: 20px;
            width: 81%;
        }
    
}