.text-blue-oficial{
    color: #002C73;
}
.bg-blue-oficial{
  background-color: #002C73;
  color: #fff;
}
.border-blue-oficial{
    border-color: #002C73 !important;
}
.rounded-circle-div {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #002C73; /* Ajusta esto al color que necesitas */
  }

  .rounded-circle-div img {
    max-width: 60%;
    max-height: 60%;
  }

  .rounded-circle-div .text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }