<div>
    <p>
        La FCQB oferta 3 programas educativos de licenciatura (Químico Biólogo Parasitólogo, Biología y Biotecnología) y 4 programas de posgrado (Maestría en Biociencias, Doctorado en Biociencias, Maestría en Ciencias Biomédicas y Doctorado en Ciencias Biomédicas). Todos los programas de licenciatura son reconocidos por su alta calidad académica, mientras que los posgrados son reconocidos por el por el Consejo Nacional de Humanidades, Ciencia y Tecnología (CONAHCyT).
    </p>
    <p>
        Esta facultad cuenta con una de las plantas docentes más calificadas de la Universidad Autónoma de Guerrero con Profesores-Investigadores con con Perfil Deseable reconocido por la SEP y con reconocimiento en el Sistema Nacional de Investigadores del CONAHCYT, lo que se refleja en el desarrollo de investigación.
    </p>

    <h3>NUESTRA MISIÓN</h3>

    <p>
        La FCQB es una institución con reconocimiento social, dedicada a la formación de profesionistas y posgraduados de calidad, con pertinencia social en las áreas de las Ciencias Químicas, Biológicas y Biomédicas, con competencias, actitudes y habilidades ampliamente reconocidas, con ética y vocación de servicio a la sociedad, respetuosos del ambiente y de los derechos humanos; con una actitud emprendedora, con iniciativa y seguridad en sí mismos y con capacidad para detectar los problemas de su competencia y proponer soluciones creativas e innovadoras.
    </p>

    <h3>NUESTRA VISIÓN</h3>

    <p>
        La FCQB es líder con prestigio en el estado de Guerrero en el área de las Ciencias Químicas, Biológicas y Biomédicas, con una oferta educativa pertinente, actual, altamente competitiva y demandada, con calidad reconocida por los organismos acreditadores en los programas de licenciatura, y por el Padrón Nacional de Posgrado de Calidad del CONAHCYT en los programas de posgrado, teniendo como eje la articulación de la docencia, la investigación y la vinculación con el entorno para contribuir a resolver problemas de su competencia del Estado, de la región y del país, y con un prestigio reconocido en la región sur-sureste del país.
    </p>
</div>