<form method="POST" action="/controllers/AccesorPaginaController.php">
    <div class="border rounded d-flex justify-content-between align-items-center p-3 mb-3">
        <span>Programa Educativo de Biología</span>
        <button type="submit" class="btn btn-outline-primary" name="plataforma" value="2">ENTRAR</button>
    </div>
    <div class="border rounded d-flex justify-content-between align-items-center p-3 mb-3">
        <span>Programa Educativo de Biotecnología</span>
        <button type="submit" class="btn btn-outline-primary" name="plataforma" value="3">ENTRAR</button>
    </div>
    <div class="border rounded d-flex justify-content-between align-items-center p-3 mb-3">
        <span>Programa Educativo de Químico Biólogo Parasitólogo</span>
        <button type="submit" class="btn btn-outline-primary" name="plataforma" value="4">ENTRAR</button>
    </div>
</form>